:root {
	background-color: #e5e5e5;
	text-decoration-color: #212121;
	text-decoration-color: #757575;
	text-decoration-color: #2196f3;
}

.logo {
	position: absolute;
	width: 145px;
	height: 31px;
	left: 215px;
	top: 24px;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: #2196f3;
}

.navigation1 {
	position: absolute;
	width: 53px;
	height: 16px;
	left: 453px;
	top: 32px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
}

.navigation2 {
	position: absolute;
	width: 58px;
	height: 16px;
	left: 552px;
	top: 32px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
}

.navigation3 {
	position: absolute;
	width: 58px;
	height: 16px;
	left: 656px;
	top: 32px;

	font-family: "Roboto";
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
}

.menu {
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	position: absolute;
	width: 572px;
	height: 54px;
	left: 510px;
	top: 174px;
}

ul {
	list-style-type: none;
}

button {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	background: #f5f4fa;
	border-radius: 4px;
	cursor: pointer;
}

.button-first {
	width: 121px;
	height: 38px;
	left: 510px;
	top: 174px;
}

.button-second {
	width: 93px;
	height: 38px;
	left: 639px;
	top: 174px;
}

.button-third {
	width: 114px;
	height: 38px;
	left: 740px;
	top: 174px;
}

.button-fourth {
	width: 91px;
	height: 38px;
	left: 862px;
	top: 174px;
}

.button-fifth {
	width: 121px;
	height: 38px;
	left: 961px;
	top: 174px;
}

.top-left {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 215px;
	top: 262px;
}

.top-center {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 615px;
	top: 262px;
}

.top-right {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 1015px;
	top: 262px;
}

.center-left {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 215px;
	top: 696px;
}

.center-center {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 615px;
	top: 696px;
}

.center-right {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 1015px;
	top: 696px;
}

.bottom-left {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 215px;
	top: 1130px;
}

.bottom-center {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 615px;
	top: 1130px;
}

.bottom-right {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 1015px;
	top: 1130px;
}

.tile-header {
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.06em;
}

.tile-subheader {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.03em;
	color: #757575;
}

header {
	position: absolute;
	width: 1600px;
	height: 80px;
	left: 0px;
	top: 0px;
}

footer {
	position: absolute;
	width: 1600px;
	height: 252px;
	left: 0px;
	top: 1628px;
}

body {
	font-family: "Roboto" "Raleway", sans-serif;
	position: relative;
	width: 1600px;
	height: 1880px;
	background: #ffffff;
	text-decoration-color: #212121;
}
