body {
	font-family: "Roboto" "Raleway", sans-serif;
	position: relative;
	width: 1600px;
	height: 1880px;
	background: #ffffff;
	color: #212121;
}

.menu {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: #ffffff;
	position: absolute;
	width: 572px;
	height: 54px;
	left: 510px;
	top: 174px;
}

button {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	background: #f5f4fa;
	border-radius: 4px;
}

.button-first {
	width: 121px;
	height: 38px;
	left: 510px;
	top: 174px;
}

.button-second {
	width: 93px;
	height: 38px;
	left: 639px;
	top: 174px;
}

.button-third {
	width: 114px;
	height: 38px;
	left: 740px;
	top: 174px;
}

.button-fourth {
	width: 91px;
	height: 38px;
	left: 862px;
	top: 174px;
}

.button-fifth {
	width: 121px;
	height: 38px;
	left: 961px;
	top: 174px;
}

.top-left {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 215px;
	top: 262px;
}

.top-center {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 615px;
	top: 262px;
}

.top-right {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 1015px;
	top: 262px;
}

.center-left {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 215px;
	top: 696px;
}

.center-center {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 615px;
	top: 696px;
}

.center-right {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 1015px;
	top: 696px;
}

.bottom-left {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 215px;
	top: 1130px;
}

.bottom-center {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 615px;
	top: 1130px;
}

.bottom-right {
	box-sizing: border-box;
	position: absolute;
	width: 370px;
	height: 404px;
	left: 1015px;
	top: 1130px;
}

h2 {
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.06em;
}

p {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.03em;
	color: #757575;
}

header {
	position: absolute;
	width: 1600px;
	height: 80px;
	left: 0px;
	top: 0px;
}

footer {
	position: absolute;
	width: 1600px;
	height: 252px;
	left: 0px;
	top: 1628px;
}
